html {
  font-size: 10px;
}

body {
  height: 100dvh;
  overflow: hidden;
  font-size: 1.6rem;
  font-family: "Onest", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 78rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.wrapper {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  z-index: 1;
}

.cash {
  position: fixed;
  font-size: 2rem;
  color: green;
  translate: 0 100%;
  white-space: nowrap;
  animation-name: cash;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes cash {
  100% {
    translate: 0 0;
  }
}
