html {
  font-size: 10px;
}

body {
  min-height: 100dvh;
  font-size: 1.6rem;
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 78rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.wrapper {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  z-index: 1;
}
