.check {
  display: flex;
  column-gap: 1.6rem;
  align-items: center;

  @media (hover: hover) {
    cursor: var(--custom-pointer);
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 2.6rem;
    aspect-ratio: 1;
    border: 0.1rem solid var(--accent-color);
    border-radius: 0.2rem;
    color: transparent;
    outline-color: transparent;
    outline-style: solid;
    outline-width: 0.2rem;
    transition-property: color, background-color, border-color;
    transition-duration: 200ms;
    transition-timing-function: ease;

    svg {
      width: 1.4rem;
      aspect-ratio: 1;
    }
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--dark);
    overflow-wrap: anywhere;
    transition-property: opacity, color;
    transition-duration: 200ms;
    transition-timing-function: ease;

    @media (width >= 768px) {
      font-size: 2rem;
    }
  }

  &__change-input {
    font-family: inherit;
    line-height: inherit;
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
  }

  &__input:checked ~ &__box {
    background-color: var(--accent-color);
    color: #fff;
  }

  &__input:checked ~ &__label {
    opacity: 0.5;
    text-decoration: line-through;
  }

  &__input:disabled ~ &__box {
    border-color: rgba(var(--dark-rgb), 0.3);
  }

  &__input:disabled ~ &__label {
    opacity: 0.5;
  }

  &__input:checked:disabled ~ &__box {
    border-color: rgba(var(--dark-rgb), 0.3);
    background-color: rgba(var(--dark-rgb), 0.3);
  }

  &__input:focus-visible ~ &__box,
  &__input:checked:focus-visible ~ &__box {
    outline-color: rgba(var(--accent-rgb), 0.5);
  }

  &__input:checked:focus-visible ~ &__box {
    background-color: var(--purple--700);
  }
}
