@use "./variables" as v;

.main-btn {
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: v.$accent-color;
  border-radius: 0.5rem;
  color: v.$light;
  height: 3.8rem;
  aspect-ratio: 1;
  text-transform: uppercase;
  outline-color: transparent;
  outline-style: solid;
  outline-width: 0.1rem;
  transition-property: background-color, outline-color, border-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease;

  @media (hover: hover) {
    cursor: v.$custom-pointer;

    &:hover {
      background-color: v.$purple--700;

      &::before {
        opacity: 1;
      }
    }
  }

  &:focus-visible {
    outline-color: v.$accent-color;
    background-color: v.$purple--700;

    &::before {
      opacity: 1;
    }
  }

  svg {
    aspect-ratio: 1;
    flex-shrink: 0;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0.4rem v.$accent-color;
    opacity: 0;
    transition: opacity 200ms ease;
  }

  &--theme {
    svg {
      width: 2.2rem;
    }
  }

  &--add {
    padding: 1.3rem;
    margin-left: auto;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

    svg {
      width: 2.4rem;
    }
  }

  &--invert {
    border: 0.1rem solid v.$accent-color;
    color: v.$accent-color;
    background-color: v.$light;

    @media (hover: hover) {
      &:hover {
        color: v.$light;
        background-color: v.$purple--700;
        border-color: transparent;
      }
    }

    &::focus-visible {
      color: v.$light;
    }
  }
}
