@mixin item-btn-interactive($color) {
  &:active,
  &:focus-visible {
    color: $color;
  }

  @media (hover: hover) {
    &:hover {
      color: $color;
    }
  }
}

.todo {
  $root: &;
  padding-block: 4rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &__title {
    font-size: 2.6rem;
    font-weight: 500;
    text-align: center;
    color: light-dark(var(--dark), var(--light));
    transition: color 200ms ease;
  }

  &__header {
    display: flex;
    gap: 1.6rem;
    flex-direction: column;

    @media (width >= 768px) {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &__header-actions {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
    justify-content: flex-end;
  }

  &__list {
    flex-grow: 1;
    overflow-y: auto;
    max-width: 54rem;
    width: 100%;
    margin-inline: auto;
    padding-top: 2.9rem;
    padding-inline: 1rem;
  }

  &__item {
    display: flex;
    transition: border-color 200ms ease;

    &:not(:last-child) {
      border-bottom: 0.1rem solid rgba(var(--accent-rgb--white), 0.5);
    }

    @media (hover: hover) {
      cursor: var(--custom-pointer);

      &:hover {
        #{$root} {
          &__item-actions {
            opacity: 1;
          }
        }
      }
    }
  }

  &__check {
    padding-block: 2rem;
    flex-grow: 1;
  }

  &__item-actions {
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 200ms ease;

    &:focus-within {
      opacity: 1;
    }

    @media (width >= 768px) and (hover: hover) {
      opacity: 0;
    }
  }

  &__item-btn {
    height: 4.8rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    border-radius: 0.5rem;
    outline-color: transparent;
    outline-style: solid;
    outline-width: 0.1rem;
    background-color: transparent;
    color: var(--gray);
    transition-property: color, outline-color;
    transition-duration: 200ms;
    transition-timing-function: ease;

    @media (hover: hover) {
      cursor: var(--custom-pointer);
    }

    &:focus-visible {
      outline-color: rgba(var(--accent-rgb), 0.5);
    }

    svg {
      width: 1.8rem;
      aspect-ratio: 1;
    }

    &--change {
      @include item-btn-interactive(var(--accent-color));
    }

    &--delete {
      @include item-btn-interactive(var(--red));
    }
  }
}
