:root {
  color-scheme: light dark;

  --dark: #252525;
  --light: #ffffff;
  --purple--400: #6c63ff;
  --purple--700: #5850dd;
  --red: #e50000;
  --gray: #cdcdcd;
  --accent-color: var(--purple--400);

  --dark-rgb: 37, 37, 37;
  --light-rgb: 255, 255, 255;
  --accent-rgb: 108, 99, 255;
}
